name: Security Checks

on:
  push:
    branches: [ "main" ]
    paths: [ "**.tf"]
  pull_request:
    branches: [ "main" ]
    paths: [ "**.tf"]
  workflow_dispatch:

permissions:
  pull-requests: read

jobs:
  tfsec:
    name: Run tfsec sarif report
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
      - name: Clone repo
        uses: actions/checkout@v5.0.1

      - name: Run tfsec
        uses: aquasecurity/tfsec-sarif-action@v0.1.4
        with:
          sarif_file: tfsec.sarif

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: tfsec.sarif
